@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
margin: 0;
padding: 0;
}
.top { 
box-sizing: border-box;
position: absolute;
height: 72px;
left: 0px;
top: 0px;    
background: #FFFFFF;
box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
width: 100%;
}
.top .wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.wrapper {
height: 2020px;
}
.top .logo {
position: absolute;
width: 120px;
height: 20px;
left: 81.38px;
top: 30px;
}
.login {
display: flex;
align-items: center;
}
.login1 {
margin-right: 16px;
border: 1px solid #E0E0E0;
border-radius: 2px;
box-sizing: border-box;
padding:3px 15px 3px 15px;
text-decoration: none;
color:black;
color: #1D1D1D;
font-family: 'Roboto';
font-style: normal;
font-weight: bolder;
font-size: 10px;
line-height: 24px;
}
.basket {
width: 17px;
height: 20px;
}
.search {
outline: 1px solid rgb(255, 255, 255);
display: flex;
height: 48px;
border-bottom: 1px solid #626262;
padding: 0px 82px;
}
.search1 {
border: 0;
/* width: 235px;
height: 24px; */
/* left: 81px;
top: 128px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
color: #626262;
mix-blend-mode: normal;
opacity: 0.5;
border-bottom: 1px solid #626262;
outline: none;
width: 90%;
margin:78px auto;
margin-top: 134px;

}
.rest2 {
width: 217px;
height: 34px;
margin-left: 81px;
margin-top: 56px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 34px;
display: flex;
align-items: center;
color: #1D1D1D;
}
.wrapper1 {
display: grid;
grid-template-columns: 420px 420px 420px;
justify-content: center;
}
.card1 {
border-radius: 2px;
margin-bottom: 16px;
width: auto;
margin-right: 16px;
}
header {
z-index: 999;
position: fixed;
top: 0;
width: 100%;
box-sizing: border-box;
height: 72px;   
background: #FFFFFF;
background-color: #fff;
box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
display: flex;
justify-content: space-between;
align-items: center; 
padding: 0px 82px; 
margin-bottom: 32px;
}
.photo1 {
 width: 100%;
}
.mak1 {
margin-top: 16px;
margin-bottom: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
color: black;
}
.mak2 {
margin-bottom: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
display: flex;
color: #626262;
}
.mak3 {
margin-bottom: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
display: flex;
color: #1D1D1D;
}
footer {
height: max-content;
background-color: #262626;
margin-top: 100px;
}
.inner-footer {
width: 90%;
margin: 0 auto;
}
.footer-logo {
padding: 56px 0 40px 0;
}
.top-footer {
display: flex;
gap: 120px;
padding-bottom: 40px;
padding-top: 10px;
}
.footer-tag {
font-size: 17px;
color: #fff;
margin-bottom: 20px;
}
#hashtag {
font-size: 17px;
color: #49A144;
}
.social-media {
display: flex;
gap: 20px;
}
.fc, .tr, .ig, .arrow2 {
    transition: .2s ease-in-out;

}
.fc:hover, .tr:hover, .ig:hover, .arrow2:hover {
    transform: scale(1.1) perspective(1000px);
    
}
.middle {
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: 0;
}
.middle a {
    color: #fff;
}
.right-footer {
    text-decoration: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right-footer a {
    color: #fff;
}
.middle-footer {
    display: flex;
    padding: 40px 0;
    justify-content: center;
    gap: 40px;
}
.bottom-footer {
    text-decoration: 0;
    display: flex;
    padding: 40px 0;
    gap: 170px;
}
.bottom-footer a, span {
    color: #fff;
}
a {
text-decoration: none;    
}
select {
    font-size: 15px;
    margin: 32px 0;
    color: #fff;
    border: 2px solid #3b3b3b;
    border-radius: 5px;
    padding: 12px 128px 12px 48px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background: url(img/arrow.svg), url(img/world.svg), #3b3b3b;
    background-position: 95%, 16.3px;
    background-repeat: no-repeat, no-repeat;
}
.arrow1 {
position: fixed;
z-index: 999;
right: 16px;
bottom: 16px;
}
.arrow2 {
 width: 70px;  
 height: 70px; 
}
